*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
 html,body{
   background: #00d2ff;  
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  
    background: linear-gradient(to right, #928DAB, #00d2ff); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px;
    position: relative;
    overflow: auto;
    width:100vw;
    height: 100vh;
}
.contenue{
    margin: 15px auto;
    position: relative;
    box-shadow: 2px 2px 10px rgba(0,0,0, .7);
    border-radius: 15px;
    overflow: hidden;
    width:60%;
    opacity: .9;
}
/* HEADER */
.contenue .contenue-header{
    width:100%;
    height:180px;
    padding:20px;
    background:  #03aacf;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #03aacf);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #03aacf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.contenue .contenue-header .header-title-time{
   position: relative;
}
.timeH{
    position: absolute;
    top:0;
    right:0;
}
/* BODY */
.contenue .contenue-body{
    background-color: rgb(256, 256, 256); 
    padding:20px;
    position: relative;

}
.contenue .contenue-body ul{
    list-style: none;
    margin-top:-54px;
    background-color: white;
    width: 100%;
}

li{
    border-bottom:1px solid #0594b4;
    padding:5px;
    position: relative;
}
li #trash{
    opacity: 0;
    margin-right: 2px;
    position: absolute;
    top:10px;
    right:8px;
    transition:all .3s ease-in;
}
li:hover > #trash {
    opacity: 1;
    color:rgb(255, 27, 27);
}
li input{
    width:20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    margin: 4px 4px 0 4px;
    /* opacity: 0; */
}
li #checkmark {

    width:18px;
    height: 18px;
    border:1px solid #0594b4;
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
}
li #checkmark:focus{
    outline: none;
}
.bg{
    background-image: url(./images/checkmark1.png);
    background-size: cover;
    background-position: center;
}

/* FOOTER / FORM */
.contenue .contenue-footer{
    width:100%;
    height:50px;
}
.contenue .contenue-footer #input-form{
    height:100%;
    display: flex;
    align-items: center;
}
.contenue .contenue-footer #input-form input{
    width:95%;
    height: 100%;
    padding:5px;
}
input[type='text']{
    background-color:transparent;
    outline:none;
    border:0;

}
input[type='text']:focus{
    outline:none;
}
input::-webkit-input-placeholder { /* Edge */
    color: black;
  }
  
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
  
input::placeholder {
    color: black;
  }
/* form button  */
.contenue .contenue-footer #input-form button{
    width:5%;
    height: 100%;
    outline:none;
    border:0;
    background-color: transparent;
}

button.button i{
    font-size:30px;
    transition: all .3s ease-in;
}
button.button i:hover{
    transform: rotateZ(180deg);
}
.line{
    text-decoration: line-through;
    color:#025d72;
}
/* ******************************************************************************************************************** */
/* MEDIA QUERIES */


/* MOBILE */
@media screen and (min-width: 320px) and (max-width:767px) {
    /* FOOTER / FORM */
    .contenue .contenue-footer #input-form{
        justify-content: space-evenly;
    }
    .contenue .contenue-footer #input-form input{
        padding:25px;
    }

    button.button i{
        font-size:23px;
        padding-left: 3px;
    }
    /* HEADER */
    .contenue .contenue-header{
        height:150px;
        padding:10px;
    }
    .contenue .contenue-header .header-title-time{
    position: relative;
    }
    .timeH{
        position: relative;
        font-size: 17px;
    }
    #date-p{
        font-size: 14px;
    }
    .header-title-time h1:first-of-type{
        font-size: 25px;
    }
}
@media screen and (min-width: 320px) and (max-width:766px) and (orientation: landscape) {
     /* FOOTER / FORM */
    .contenue .contenue-footer #input-form{
        justify-content: space-evenly;
    }
    .contenue .contenue-footer #input-form input{
        padding:25px;
    }
    button.button i{
        font-size:23px;
        padding-left: 3px;
    }
    /* HEADER */
    .contenue .contenue-header{
        height:150px;
        padding:10px;
    }
    .contenue .contenue-header .header-title-time{
    position: relative;
    }
    .timeH{
        position: relative;
        font-size: 17px;
    }
    #date-p{
        font-size: 14px;
    }
    .header-title-time h1:first-of-type{
        font-size: 25px;
    }
}
/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1170px) {

    /* FOOTER / FORM */
    .contenue .contenue-footer #input-form button{
       width: 10%;
    }
    .contenue .contenue-footer #input-form input{
        width:80%;
    }
}

/* LAPTOPS */
@media screen and (min-width: 1171px) {

}
